.calendar {
  width: 100%;
  display: flex;
  .calendar__item {
    padding: 10px 20px;
    text-align: center;
    display: block;
    height: 40px;
    margin: 1px;
  }
  .calendar__left-number {
    height: 40px;
    border: 1px solid transparent;
    border-radius: 0;
    margin: 1px;
    font-weight: bold;
    &:first-child {
      margin-top: 40px;
    }
  }
  .calendar__item-day {
    background-color: #F1F1F1;
    border: 1px solid transparent;
    border-radius: 0;
    margin: 1px;
  }
  .calendar_item__today {
    background-color: rgba($light-grey, 0.7);
    border: 1px solid $primaryColor;
  }
  .calendar_item__past {
    background-color: #f7f7f7;
    border: 1px solid #f3f3f3;
  }
  .calendar__month {
    background-color: $primaryColor;
    color: $white;
  }
  .calendar_item__selected {
    background-color: $secondaryColor;
  }
}