$primaryColor: #F43C68;
$secondaryColor: #E0FF23;
$hbits-link-color: #007bff;

// Colors
$white: #ffffff;
$grey: grey;
$light-grey: #D7D7D7;

$text-color: #1f1f1f;

// Bootstrap
$primary: #F92653;
$link-color: $hbits-link-color;

/* Fontawesome 5 config */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts"