<div class="row justify-content-center">
  <div class="col-12 border p-4 rounded mt-5">
    <h1>Nuevo habito</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.habit_path(@conn, :create)) %>

    <span><%= link "Volver", to: Routes.habit_path(@conn, :index), class: "btn" %></span>
</div>
</div>
